@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-main {
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(5px + 1vmin);
}

.App-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}

.App-header .navbar-brand a, .App-header .nav-link a,
.App-footer .nav-link a {
  color: #fff;
  text-align: center;
}